
<div>
  <label for="coffeeType">Select a Coffee Type:</label>
  <select id="coffeeType" name="coffeeType" [(ngModel)]="selectedCoffeeType">
    <option *ngFor="let item of coffee" [ngValue]="item">{{ item.name }}</option>
  </select>
</div>
<br>
<div>
  <label for="addOn">Select Add-Ons:</label>
  <select id="addOn" [(ngModel)]="selectedAddOns">
    <option *ngFor="let addon of availableAddOns" [ngValue]="addon">{{ addon.name }}</option>
  </select>
</div>

<div>
  <p>Selected Coffee: {{ selectedCoffeeType?.name }} | Price: {{ selectedCoffeeType?.price }}</p>
  <p>Selected Add-Ons: {{ selectedAddOns?.name }}  | Price: {{ selectedAddOns?.price }}</p>
  <p>price: {{ price }}</p>
</div>

<button (click)="calculate()">Calculate Price</button>
